<div class="toolbox">
  <mat-form-field appearance="outline">
    <mat-label>Search URL</mat-label>
    <input matInput type="text" placeholder="example.com" [(ngModel)]="urlStr">
    <button *ngIf="urlStr" mat-icon-button matSuffix (click)="urlStr = ''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <button mat-icon-button (click)="clear()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div *ngFor="let request of requests$ | async; trackBy: trackByFn"
     (click)="onSelect(request.id)"
     [class.selected]="request.id === selectedId"
     class="request-item">
  <div class="state">
    <mat-spinner *ngIf="request.pending" [diameter]="15" [strokeWidth]="1"></mat-spinner>
    <mat-icon (click)="reset(request.id)" *ngIf="request.modified" [inline]="true" class="icon">
      edit
    </mat-icon>
  </div>
  <span [ngStyle]="{'background-color': getMethodColor(request.method)}" class="method">
      {{request.method}}
    </span><span class="url">
      {{request.url}}
    </span>
</div>
