/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/fonts';

html, body {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}
